In [26]:
import pandas as pd

In [43]:
a = pd.read_csv("C/LIBYA.csv")

In [44]:
def frequency_table(x):
    return pd.crosstab(index=x,  columns="count")

In [45]:
ctabs = {}
for column in a:
    ctabs[column]=frequency_table(a[column])

In [46]:
print(ctabs)

{'id': col_0  count
id
2          1
5          1
8          1
15         1
36         1
41         1
70         1
72         1
73         1
92         1
93         1
95         1
98         1
99         1
100        1
106        1
107        1
112        1
114        1
115        1
116        1
133        1
134        1
135        1
138        1
139        1
140        1
141        1
142        1
144        1
...      ...
5395       1
5396       1
5397       1
5398       1
5399       1
5400       1
5401       1
5402       1
5403       1
5404       1
5405       1
5407       1
5408       1
5409       1
5410       1
5412       1
5413       1
5416       1
5418       1
5421       1
5425       1
5426       1
5427       1
5429       1
5430       1
5431       1
5432       1
5433       1
5434       1
5436       1

[1962 rows x 1 columns], 'psu': col_0  count
psu
1          8
2          7
3          7
4         10
5          8
6          7
7          8
8          6
9          7
10         8
11         7
12         8
13         9
14         8
15         8
16         7
17         8
18         9
19         6
20         8
21         6
22         7
23         6
24         8
25         8
26         6
27         6
28         9
29         8
30         8
..       ...
262        4
263        6
264        6
267        8
268        7
269        6
270        2
272        5
273        3
274        4
275        5
276        6
277        2
281        2
284        1
285        3
287        7
288        5
289        8
290        8
291        8
292        7
293        8
294        8
295        8
296        8
297        8
298        8
299        8
300        8

[286 rows x 1 columns], 'country': col_0    count
country
Libya     1962, 'wave': col_0  count
wave
5       1962, 'q1': col_0   count
q1
110001    392
110002    110
110003    132
110004    114
110005    130
110006    209
110007    211
110008     40
110009     41
110010      6
110011    118
110012     48
110013     95
110014     67
110015     64
110016     12
110018     48
110019     44
110020     30
110021     10
110022     41, 'wt': col_0      count
wt
0.414286      30
0.438095      80
0.525641      31
0.557692      33
0.571429       7
0.608247      45
0.630189     165
0.646667     259
0.650000      24
0.662857      94
0.675439      80
0.685185      31
0.718954     115
0.800000      98
0.802632      59
0.828571       4
0.837398      43
0.876190      64
1.023810      38
1.051282       8
1.076923      11
1.115385       5
1.142857       2
1.216495      13
1.242857       8
1.260377      33
1.267857      42
1.273438      98
1.293333      87
1.300000       3
...          ...
2.102564       2
2.153846       1
2.156863       2
2.190476       1
2.400000       3
2.407895       1
2.512195      29
2.520755       1
2.535714       4
2.546875       8
2.586667      11
2.600000       1
2.628205       1
2.651429       1
2.740741       1
2.875817       1
3.200000       1
3.233333       4
3.349594       8
3.649484       1
3.803571       2
3.820312       2
3.880000       2
4.186992       1
4.526666       1
4.865979       1
5.093750       2
5.861788       1
8.428571       5
16.857143      1

[81 rows x 1 columns], 'stratum': col_0    count
stratum
1          392
2          110
4          132
6          114
8           89
9           41
10         184
11          25
12         196
13          15
14          30
15          10
16          26
17          15
18           6
20         118
21          35
22          13
23          71
24          24
25          52
26          15
27          49
28          15
29          12
30          48
31          34
32          10
33          40
36          26
37          15, 'Q1001': col_0  count
Q1001
18.0      31
19.0      54
20.0      66
21.0      55
22.0      46
23.0      53
24.0      63
25.0      91
26.0      69
27.0      45
28.0      42
29.0      54
30.0      75
31.0      56
32.0      42
33.0      55
34.0      48
35.0      56
36.0      47
37.0      50
38.0      44
39.0      41
40.0      67
41.0      34
42.0      41
43.0      40
44.0      42
45.0      57
46.0      36
47.0      48
...      ...
50.0      41
51.0      20
52.0      24
53.0      33
54.0      20
55.0      19
56.0      21
57.0      25
58.0      14
59.0      16
60.0      20
61.0      12
62.0       6
63.0       5
64.0       6
65.0       7
66.0       6
67.0       6
68.0       6
69.0       6
70.0       8
71.0       1
72.0       6
73.0       2
74.0       1
76.0       1
77.0       2
79.0       4
80.0       1
81.0       2

[62 rows x 1 columns], 'Q1002': col_0  count
Q1002
1.0      986
2.0      976, 'Q1003': col_0  count
Q1003
1.0       38
2.0       74
3.0      167
4.0      318
5.0      478
6.0      849
7.0       35
98.0       2
99.0       1, 'Q1005': col_0  count
Q1005
1.0      904
2.0      131
3.0       77
4.0      291
5.0      320
6.0      217
7.0       18
98.0       3
99.0       1, 'Q100': col_0  count
Q100
1.0      521
2.0     1314
3.0       78
98.0      47
99.0       2, 'Q101': col_0  count
Q101
1         43
2        390
3        984
4        534
98         9
99         2, 'Q102': col_0  count
Q102
1        610
2        580
3        281
4        140
5        134
98       208
99         9, 'Q204A_1': col_0    count
Q204A_1
1.0         97
2.0        544
3.0        870
4.0        444
98.0         6
99.0         1, 'Q204A_2': col_0    count
Q204A_2
1           36
2          325
3          918
4          673
98           9
99           1, 'Q204_2': col_0   count
Q204_2
1.0        70
2.0       349
3.0       860
4.0       656
97.0        5
98.0       20
99.0        2, 'Q204_3': col_0   count
Q204_3
1.0        47
2.0       298
3.0       894
4.0       635
97.0       16
98.0       65
99.0        7, 'Q204_11': col_0    count
Q204_11
1.0         92
2.0        634
3.0        739
4.0        470
97.0         3
98.0        18
99.0         6, 'Q204_20': col_0    count
Q204_20
1.0         45
2.0        491
3.0        813
4.0        599
97.0         4
98.0         6
99.0         4, 'Q209B': col_0  count
Q209B
1.0      285
2.0      886
3.0      559
4.0      172
98.0      57
99.0       3, 'Q501': col_0  count
Q501
1        226
2       1734
98         1
99         1, 'Q501A': col_0  count
Q501A
1        286
2       1672
98         3
99         1, 'Q266': col_0  count
Q266
1.0     1109
2.0      821
98.0       7
99.0      25, 'Q263': col_0  count
Q263
1.0      783
2.0      646
3.0      479
4.0       36
98.0      11
99.0       7, 'Q516A': col_0  count
Q516A
1.0      340
2.0      299
3.0     1123
98.0     180
99.0      20, 'Q512': col_0  count
Q512
0        456
1         51
2         75
3        123
4        122
5        309
6        104
7        149
8        136
9         58
10       325
96         4
98        40
99        10, 'Q515A2': col_0   count
Q515A2
1.0       661
2.0       191
3.0       763
4.0       179
98.0      152
99.0       16, 'Q511': col_0  count
Q511
0.0      846
1.0      105
2.0      142
3.0      218
4.0      146
5.0      256
6.0       71
7.0       45
8.0       34
9.0       13
10.0      53
96.0       1
98.0      25
99.0       7}

In [53]:
import pandas as pd
from scipy.spatial import distance_matrix

data = [[0.078333333,
0.050416667,
0.067083333,
0.065416667,
0.071666667,
0.150416667,
0.14125,
0.145833333,
0.059166667,
0.037083333,
0.072083333,
0.03373,
0.023333333,
0.00373], [7, 3], [8, 1]]
ctys = ['Boston', 'Phoenix', 'New York']
df = pd.DataFrame(data, columns=['xcord', 'ycord'], index=ctys)

AssertionError: 2 columns passed, passed data had 14 columns